h1{
    font-size: xx-large; text-align: center; font-family: fantasy; color: darkred; background-color: black;
}

p{
    font-size: xx-large; font-family: cursive; color: lightskyblue; background-color: crimson;
}
a{
    text-align: center; font-size: xx-large;
}

li{
    font-size: xx-large; font-family: unset; color: firebrick;
}